./videos/*
./gifs/*
./plots/*
./hyperparameters/*
./data/*
./tensorboard/*
videos
plots
hyperparameters
data
hyperparameters
gifs
plots
tensorboard
backup_results
v2_results
v3
v3_results
*.png
*.pdf
v2_results
v3_results
*.pkl
*.npy
*.json
new_results